{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="https://discoverthreejs.com/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href={% static "css/detailsPage.css" %}>
    <link rel="stylesheet" href={% static "js/package/css/swiper.min.css" %}>
    <script src={% static "js/vendor/three/three.js" %}></script>
    <script src={% static "js/vendor/three/OrbitControls.js" %}></script>
    <script src={% static "js/vendor/three/GLTFLoader.js" %}></script>
    <title>{{ product.name }} Details</title>
</head>
<body>
    
    
    <div class="navbar">#Logo</div>
    <div  class="product-image">
           <div id="scene-container"></div>
        </div>
    <div class="product-details">
            <h1>{{ product.name }}</h1>
            <h2>
                <a href="#">
                    {{ product.category }}
                </a>
            </h2>
            <p class="price">${{ product.price }}</p>
            <p class="desc"> {{ product.description|linebreaks }}</p>
           
            </div>
    <div class="carousel">
        <h2>Popular On Givt</h2>
        <div class="swiper-container">
         <div class="swiper-wrapper">
            {% for product in products %}
            <div class="swiper-slide">
                <a href="{{ product.get_absolute_url }}">
                    <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_img.png' %}{% endif %}" alt="{{ product.name}">
                </a>
            </div>
            {% endfor %}
      <!-- Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  </div>
        </div>
            </div>
    
    <div class="footer">#footer</div>

    <script src={% static "js/app.js" %}></script>
          <!-- Swiper JS -->
  <script src={% static "js/package/js/swiper.min.js" %}></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 5,
      spaceBetween: 10,
      slidesPerGroup: 6,

     navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
         },

    });
  </script>
</body>

</html>