{% extends 'shop/homePage.html' %}
{% load static %}

{% block content %}

<div class="header">

    <div id="categories">
        <h2>Categories :</h2>
        <ul id="cat-list">
            <li id="cat-item">
                <a href="{% url 'shop:product_list' %}">All</a>
            </li>
            {% for c in categories %}
                <li id="cat-item">
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
    </div>
</div>    
<div class="main">
    <ul id="item-list">
        {% for product in products %}
        <li class="item">
            <a id="card-image" href="{{ product.get_absolute_url }}">
                <img  src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_img.png' %}{% endif %}" alt="Product Image">
            </a>
            <a id="item-info" href="{{ product.get_absolute_url }}">
                <h2>{{ product.name }}</h2>
                <br>${{product.price}}
                
            </a>
            <a id="app3d" href="{{ product.get_absolute_url }}">
            </a>
        </li>
        {% endfor %}
    </ul>
</div>
<footer>
    <p>Effort Pay's</p>
</footer>

{% endblock %}

{% block home %}
<div class="hero">
    <img src={% static "images/hero1.jpg" %} alt="Poster">
</div>
<div class="carousel">

<h4>Popular On Givt</h4>
<div class="swiper-container">
 <div class="swiper-wrapper">
    {% for product in products %}
    <div class="swiper-slide">
        <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_img.png' %}{% endif %}" alt="{{ product.name}">
        </a>
    </div>
    {% endfor %}
<!-- Arrows -->
<div class="swiper-button-next"></div>
<div class="swiper-button-prev"></div>
</div>
</div>
</div>
    <div class="cards-container">
        <div class="card">
            <img src={% static "images/new1.jpg" %} alt="Poster">
        </div>
        <div class="card">
            <img src={% static "images/new2.jpg" %} alt="Poster">
        </div>
        <div class="card">
            <img src={% static "images/new3.jpg" %} alt="Poster">
        </div>
        <div class="card">
            <img src={% static "images/new4.jpg" %} alt="Poster">
        </div>
        <div class="card">
            <img src={% static "images/new5.jpg" %} alt="Poster">
        </div>
        <div class="card">
            <img src={% static "images/new6.jpg" %} alt="Poster">
    </div>
</div>
<div class="hero">Hero#2</div>
<div class="carousel">Carousel#2</div>
<div id="footer">
    The UnderDog
</div>

{% endblock %}