    :root {
        --darkcolor: rgb(44, 44, 44);
        --lightcolor: rgb(68, 68, 68);
        --midcolor: rgb(54, 54, 54);
    }
    body {
        
        color: white;
        margin: 0;
        background-color: var(--midcolor);
        width: 100vw;
        display: grid;
        grid-template-columns: repeat(4 , 1fr) ;
        grid-template-rows: repeat(7 , minmax(100px , 600px));
        grid-template-areas: 
        "navbar navbar navbar navbar"
        "main main main main"
        "main main main main"
        "main main main main"
        ". details details ."
        "carousel carousel carousel carousel"
        "footer footer footer footer";
    }
    
    .navbar {
        grid-area: navbar;
        background-color: var(--darkcolor);
    }
   
    .product-image {
        grid-area: main;
        width: 100vw;
        height: 50vh;
        padding: 10px;
    }
    #scene-container {
        width: 100%;
        height: 100%;
    }
   
    .product-details {
        padding: 10px;
        grid-area: details;
        background-color: var(--lightcolor);
        display: flex;
        flex-direction: column;
    }

    .carousel {
        grid-area: carousel;
    }

    .footer {
        grid-area: footer;
        background-color:var(--darkcolor);
    }

   