{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href={% static "css/style.css" %}>
    
    <title>this is it</title>
</head>
<body>
    <nav>
        <a href="#">
    <img id="logo-img" src="{% static "images/logo.svg" %}" alt="Logo Image">
        </a>
    </nav>
{% block content %}
{% endblock %}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/three.js/r117/three.js"></script>
    <script src={% static "js/3dit.js" %}></script>
</body>
</html>