{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <title>Swiper demo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
  <!-- Link Swiper's CSS -->
  <link rel="stylesheet" href={% static "js/package/css/swiper.min.css" %}>
  <link rel="stylesheet" href={% static "css/styles.css" %}>

</head>

<body>
  <a id="logo" href="#home"><img src={% static "images/givtlogo.png" %} alt="Logo Image"></a>
  <!-- Swiper -->
  <div class="givt">
      <h2>Popular On Givt</h2>
  <div class="swiper-container">
    <div class="swiper-wrapper">
   
      {% for product in products %}
      <div class="swiper-slide">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_img.png' %}{% endif %}" alt="{{ product.name}">
        </a>
      </div>
    {% endfor %}

    </div>
      <!-- Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
  </div>

  <div class="givt">
    <h2>Awesome Stuff</h2>
<div class="swiper-container">
  <div class="swiper-wrapper">
    {% for product in products %}
      <div class="swiper-slide">
          <a href="{{ product.get_absolute_url }}">
            <img src="{% if product.image %}{{ product.image.url }}{% else %}{% static 'images/no_img.png' %}{% endif %}" alt="{{ product.name}">
        </a>
      </div>
    {% endfor %}
    
  </div>
    <!-- Arrows -->
  <div class="swiper-button-next"></div>
  <div class="swiper-button-prev"></div>
</div>

  <!-- Swiper JS -->
  <script src={% static "js/package/js/swiper.min.js" %}></script>

  <!-- Initialize Swiper -->
  <script>
    var swiper = new Swiper('.swiper-container', {
      slidesPerView: 6.5,
      spaceBetween: 10,
      slidesPerGroup: 3,

     navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
         },
     
    });
  </script>
</body>

</html>